<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>B A U E N</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/css/plugins.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div id="preloader"></div>
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="logo" href="index.html"> <img src="~img/logo.png" alt=""> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="icon-bar"><i class="ti-line-double"></i></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" data-scroll-nav="0">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="1">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="2">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="3">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="4">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" data-scroll-nav="5">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <footer class="main-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-30">
                    <div class="item fotcont">
                        <div class="fothead">
                            <h6>Phone</h6>
                        </div>
                        <p>+1 203-123-0606</p>
                    </div>
                </div>
                <div class="col-md-4 mb-30">
                    <div class="item fotcont">
                        <div class="fothead">
                            <h6>Email</h6>
                        </div>
                        <p>architecture@bauen.com</p>
                    </div>
                </div>
                <div class="col-md-4 mb-30">
                    <div class="item fotcont">
                        <div class="fothead">
                            <h6>Our Address</h6>
                        </div>
                        <p>24 King St, Charleston, SC 29401 USA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-left">
                            <p>© 2021 Bauen. All right reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-4 abot">
                        <div class="social-icon"> <a href="index.html"><i class="ti-facebook"></i></a> <a href="index.html"><i class="ti-twitter"></i></a> <a href="index.html"><i class="ti-instagram"></i></a> <a href="index.html"><i class="ti-pinterest"></i></a> </div>
                    </div>
                    <div class="col-md-4">
                        <p class="right"><a href="#">Terms &amp; Conditions</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/js/modernizr-2.6.2.min.js"></script>
    <script src="~/js/pace.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/scrollIt.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/YouTubePopUp.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>