@model Header
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Banner</h6>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div class="row">
                <input type="hidden" asp-for="Image"  />
                <div class="col-md-4 mb-4">
                    <label asp-for="Title"></label>
                    <input type="text" class="form-control" asp-for="Title">
                    <span class="text-danger small" asp-validation-for="Title"></span>
                </div>
                <div class="col-md-4 mb-4">
                    <label asp-for="Subtitle"></label>
                    <input type="text" class="form-control" asp-for="Subtitle">
                    <span class="text-danger small" asp-validation-for="Subtitle"></span>
                </div>
                <div class="col-md-4 mb-4">
                    <label asp-for="ButtonText"></label>
                    <input type="text" class="form-control" asp-for="ButtonText">
                    <span class="text-danger small" asp-validation-for="ButtonText"></span>
                </div>
                <div class="col-md-4 mb-4">
                    <label asp-for="ButtonUrl"></label>
                    <input type="text" class="form-control" asp-for="ButtonUrl">
                    <span class="text-danger small" asp-validation-for="ButtonUrl"></span>
                </div>
                <div class="col-md-4 mb-4">
                    <label asp-for="ImageFile"></label>
                    <div class="custom-file">
                        <input accept="image/*" class="custom-file-input" asp-for="ImageFile">
                        <label class="custom-file-label">
                            Choose
                            file...
                        </label>
                        <span class="text-danger small" asp-validation-for="ImageFile"></span>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a asp-action="Index" class="btn btn-primary">Go Back</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });
    </script>
    <style>
        .ck-editor__editable {
            min-height: 200px;
        }
    </style>
}